---
layout: cndefault
---
<header>
<h2>{{ page.title }}</h2>
<p><i>{{ page.date | date: "%Y-%m-%d" }}</i>{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>
<article>
{{content}}
</article>
<div id="info-bottom">
<hr>
<p>标签: {% for tag in page.tags %}<block class="blog-tag"><a href="/cnarchive/#{{tag}}">{{ tag }}</a></block>{% endfor %}</p>
<p><b>留言</b>请用 <a href="https://github.com/izhengfan/izhengfan.github.io/issues"> Github Issues </a></p>
</div>
