<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="body-wrapper">
<div class="nav-header">
<a href="/">Fan's Farm</a> | <a href="/about">About </a> | <a href="/cn"> 中文</a>
</div>
<div class="main-body">
{{ content }}
</div>
<div class="info-bottom"><div class="info-bottom-text">
License <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a> | Subscribe <a href="/feed.xml">RSS</a> | Email <a href="mailto:hi@fzheng.me">hi@fzheng.me</a>
</div></div> 
</div>
</body>
<script>
    (function(d) {
      var config = {
        kitId: 'hvv6ahj',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
</script>
</html>