---
layout: default
---
<header>
<h2>{{ page.title }}</h2>
<p><i>{{ page.date | date: "%b %-d, %Y" }}</i>{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>
<article>
{{content}}
</article>
<div id="info-bottom">
<hr>    
<p>Tags: {% for tag in page.tags %}<block class="blog-tag"><a href="/archive/#{{tag}}">{{ tag }}</a></block>{% endfor %}</p>
<p><b>Comment</b> by <a href="https://github.com/izhengfan/izhengfan.github.io/issues"> Github Issues </a></p>
</div>
<link rel="stylesheet" href="/katex/0.11.1/katex.min.css" >
<script src="/katex/0.11.1/katex.min.js" ></script>
<script defer src="/katex/0.11.1/contrib/mathtex-script-type.min.js" ></script>
<script defer src="/katex/0.11.1/contrib/auto-render.min.js" ></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            // ...options...
            delimiters:
            [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false},
              {left: "\\[", right: "\\]", display: true}
            ]
        });
    });
</script>
<!-- <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}, 
  "HTML-CSS": {
    availableFonts: ["TeX"]
  }});
</script> -->
<!-- <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script> -->
<!-- <script src="https://cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->
